.cover {
  cursor: pointer;
  position: relative;
}
.photo {
  border-radius: 10px;
}
.hide {
  left: 5px;
  bottom: 3px;
  padding: 5px 10px;
  position: absolute;
  border-radius: 5px;
  background: black;
}
