.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px 0px #ce3539;
}
.branding {
  display: flex;
  cursor: pointer;
  align-items: center;
}
.credit small {
  font-size: 12px;
}
.credit h4 {
  margin: -6px 0 0 0;
}

@media (max-width: 400px) {
  .credit {
    transform: scale(0.9);
  }
}
